# 两个地方的node_modules全部忽略
node_modules/
miniprogram/node_modules/
my‑backend/node_modules/

# 小程序相关忽略
miniprogram/miniprogram_npm/
miniprogram/project.private.config.json

# 环境变量、密钥
.env
.env.local
*.env

# 日志
npm-debug.log*
yarn-debug.log*
# IDE文件
.vscode/
.DS_Store